.search-board__notfound {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-grey);
  font-size: var(--font-size-md);
  font-weight: 600;
}

.search-board__a {
  height: 4.545%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  border-bottom: 1px solid var(--color-whitesmoke);
  background-color: var(--color-body);
}

.search-board__a:hover {
  background-color: var(--color-whitesmoke);
}

.search-board__title {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.search-board__data-wrapper {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "writer category view"
    "writer date date";
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: center;
  align-items: center;
}

.search-board__writer-data {
  grid-area: writer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-sm);
  gap: 6px;
}

.search-board__nick {
  position: relative;
  bottom: 2px;
}

.search-board__img {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-whitesmoke);
  border-radius: 100%;
}

.search-board__category {
  grid-area: category;
  font-size: var(--font-size-vsm);
  font-weight: 600;
  color: var(--color-grey);
}

.search-board__view {
  grid-area: view;
  text-align: center;
  font-size: var(--font-size-vsm);
  font-weight: 600;
  color: var(--color-grey);
}

.search-board__date {
  grid-area: date;
  font-size: var(--font-size-vsm);
  font-weight: 600;
  color: var(--color-grey);
}

.search-board__nav {
  width: 100%;
  height: 4.54%;
  background-color: var(--color-body);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.search-board__nav-btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-body);
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  list-style: none;
}

.search-board__nav-btn--focus {
  background-color: var(--main-color);
}

.search-board__nav-btn:hover {
  background-color: var(--color-whitesmoke);
}
