.write-page {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.write-page * {
  color: var(--font-color-dark);
}

.write-page::-webkit-scrollbar {
  width: 1px;
  background-color: var(--color-body);
}

.write-page::-webkit-scrollbar-thumb {
  background-color: var(--color-body);
}

.write-page__title {
  width: 100%;
  height: 54px;
  padding-inline-start: 1rem;
  border: 1px solid;
  border-color: transparent transparent var(--color-background) transparent;
  border-radius: 2px 2px 0 0;
  font-size: var(--font-size-lg);
  background-color: var(--color-body);
}

.write-page__title:focus {
  outline: none;
}

.ck.ck-editor {
  width: 100%;
}

.ck.ck-toolbar {
  width: calc(100vw - 300px);
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  border: none;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  padding-inline-start: 1rem;
  min-height: 100vh;
  background-color: var(--color-body);
  cursor: text;
}

/*ckeditor boarder*/
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: none;
  box-shadow: none;
}

.write-page__board {
  width: 300px;
  height: 38.5px;
  padding-right: 15px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  z-index: 200;
  background-color: whitesmoke;
}

.write-page__select {
  width: 90px;
  height: 83%;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: black;
  font-size: var(--font-size-sm);
  background-color: whitesmoke;
}

.write-page__select:hover {
  filter: brightness(0.97);
}

.write-page__select:focus {
  outline: none;
}

.write-page__select option {
  background-color: whitesmoke;
  color: #666;
}

.write-page__btn-thumbnail {
  width: 90px;
  height: 83%;
  color: black;
  border: none;
  border-radius: 2px;
  font-size: var(--font-size-sm);
  background-color: whitesmoke;
  line-height: 30px;
  text-transform: capitalize;
}

.write-page__btn-thumbnail:hover {
  filter: brightness(0.97);
}

.write-page__btn-complete {
  width: 50px;
  height: 83%;
  color: black;
  border: none;
  border-radius: 2px;
  font-size: var(--font-size-sm);
  background-color: whitesmoke;
  line-height: 30px;
}

.write-page__btn-complete:hover {
  filter: brightness(0.97);
}

.th-dropdown {
  width: 260px;
  padding: 20px;
  position: absolute;
  top: 34px;
  right: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #d8d8d8;
}

.th-dropdown__img-preview {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  object-fit: scale-down;
  background-color: rgb(236, 236, 236);
}

.th-dropdown__img-preview--show {
  object-fit: cover;
}

.th-dropdown-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.th-dropdown__input-src {
  width: 127px;
  height: 22px;
  padding-left: 3px;
  display: inline-block;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  background-color: rgb(236, 236, 236);
  font-size: var(--font-size-vsm);
}

.th-dropdown__input-file {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: none;
}

.th-dropdown__label-file {
  width: 40px;
  height: 22px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: #666;
  font-size: var(--font-size-vsm);
  font-weight: 550;
  line-height: 20px;
  text-align: center;
}

.th-dropdown__btn-apply {
  width: 32px;
  height: 22px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: #666;
  font-size: var(--font-size-vsm);
  font-weight: 550;
}
