.themetoggle {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.themetoggle__icon {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-size: 50;
}

.themetoggle__icon--light {
  filter: invert(60%);
  background: url(../../../../asset/icons/light.svg);
}

.themetoggle__icon--dark {
  filter: invert(60%);
  background: url(../../../../asset/icons/dark.svg);
}

@media screen and (max-width: 1024px) {
  .themetoggle__icon {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-size: 50;
  }

  .themetoggle__icon--light {
    filter: invert(60%);
    background: url(../../../../asset/icons/light.svg);
  }

  .themetoggle__icon--dark {
    filter: invert(60%);
    background: url(../../../../asset/icons/dark.svg);
  }
}
