.themetoggle {
  margin-right: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.themetoggle__btn-wrapper {
  width: 47px;
  height: 26px;
  position: relative;
  border-radius: 12px;
  background-color: var(--color-whitesmoke);
}

.themetoggle__btn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: white;
  transition: 0.3s;
}

.themetoggle__btn--light {
  left: 2px;
}

.themetoggle__btn--dark {
  left: 22px;
}

.themetoggle__icon {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-size: 50;
}

.themetoggle__icon--light {
  filter: invert(60%);
  background: url(../../../../asset/icons/light.svg);
}

.themetoggle__icon--dark {
  filter: invert(60%);
  background: url(../../../../asset/icons/dark.svg);
}
