.themetoggle {
  width: 47px;
  height: 26px;
  position: relative;
  border-radius: 12px;
  background-color: var(--color-whitesmoke);
}

.themetoggle__btn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: white;
  transition: 0.3s;
}

.themetoggle__btn--light {
  left: 3px;
}

.themetoggle__btn--dark {
  left: 22px;
}
