.search-bar {
  flex-grow: 1;
  min-width: 270px;
  height: 26px;
  margin: 0 40px;
  padding: 2px 6px 2px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-whitesmoke);
  border-radius: 30px;
}

.search-bar__input {
  width: 95%;
  height: 90%;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.search-bar__input:focus {
  outline: none;
  background-color: var(--color-whitesmoke);
}

.search-bar__input::placeholder {
  color: var(--color-placeholder);
}

.search-bar__btn {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../../asset/icons/search.svg);
  cursor: pointer;
}
