.chat-room__main {
  width: min(500px, 98vw);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.chat-room__chats {
  height: calc(100vh - 100px);
  padding: 5px 10px;
  position: relative;
  overflow-y: scroll;
}

.chat-room__chats::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.chat-room__chats::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 20px;
  background-color: var(--main-color);
}

.chat-room__chat {
  min-width: 50px;
  max-width: 46%;
  min-height: 40px;
  margin: 6px 0;
  padding: 10px;
  position: relative;
  list-style: none;
  background-color: var(--color-whitesmoke);
  word-break: break-all;
  font-size: var(--font-size-sm);
}

.chat-room__chat--me {
  margin-left: auto;
  align-self: flex-end;
  border-radius: 23px 23px 0px 23px;
}

.chat-room__chat--other {
  align-self: flex-start;
  border-radius: 23px 23px 23px 0px;
}
.chat-room__input {
  width: min(500px, 98vw);
  height: 100px;
  background-color: aliceblue;
}

.chat-room__btn-top {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 100%;
  background-color: var(--color-whitesmoke);
}

.chat-room__btn-top::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../asset/icons/up.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center top 20%;
  filter: invert(var(--icon-invert));
}
