.snb {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.snb__menu {
  width: 80%;
  padding: 15px 0;
}

.snb__item--feed {
  border-bottom: 1px solid var(--main-color);
}

.snb__item--topic {
  flex-grow: 1;
  overflow: auto;
}

.snb__item {
  border-radius: 5px;
  padding: 6px 0px 6px 20px;
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: 0.2s;
  cursor: default;
}

.snb__item--focus {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
}

.snb__item:hover {
  font-weight: 700;
}
