.board-pre {
  width: 100%;
}

.main__content--topic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.main__hit {
  flex-basis: 230px;
  width: 230px;
  height: 100%;
}

@keyframes moveLeft {
  0% {
    left: 0;
  }
  80% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
