.user-board {
  height: 38px;
  width: 270px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
}

.user-board__detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.user-board__profile-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color-whitesmoke);
  cursor: pointer;
}

.user-board__nickname {
  font-size: var(--font-size-vsm);
  font-weight: 700;
  cursor: pointer;
}

.user-board__email {
  font-size: var(--font-size-vsm);
}

.user-board__btn-logout {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 4px;
  background-size: contain;
  line-height: 15px;
  font-size: var(--font-size-vsm);
  font-weight: 600;
  background-color: var(--color-whitesmoke);
}

.user-board__btn-logout:active {
  filter: brightness(0.9);
}

.user-board__btn-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid pink;
}

.user-board__btn {
  width: 26px;
  height: 26px;
}
