.board {
  flex-grow: 1;
  position: relative;
}

.board__title {
  font-size: var(--font-size-md);
  margin: 10px 0;
}

.board__nav {
  height: 30px;
  position: fixed;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  z-index: 10;
}

.board__nav:hover {
  bottom: 0px;
}

.board__nav-direction {
  top: -2px;
  font-weight: 700;
  color: var(--color-grey);
  transition: 0.1s;
  cursor: default;
}

.board__nav:hover .board__nav-direction {
  color: transparent;
}

.board__nav-btn {
  width: 23px;
  height: 23px;
  margin: 0 3px;
  border-radius: 100%;
  color: white;
  background-color: white;
  font-size: var(--font-size-md);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.board__nav:hover .board__nav-btn--focus {
  filter: brightness(0.9);
}

.board__nav:hover .board__nav-btn {
  color: black;
}

.board__nav-btn:hover {
  filter: brightness(0.9);
}

.post {
  width: 100%;
  height: 38px;
  margin: 1px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-left: 10px solid var(--post-color);
}

.post:hover {
  background-color: rgb(247, 247, 247);
}

.post__title {
  margin: 0 0 6px 10px;
  font-size: var(--font-size-md);
  font-weight: 600;
}

.post__data-wrapper {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__data {
  font-size: var(--font-size-vsm);
  font-weight: 600;
  color: var(--color-grey);
}
