.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--gnb-height));
  overflow-y: scroll;
  background-color: var(--color-body);
}

.main::-webkit-scrollbar {
  width: 4px;
  background-color: var(--color-body);
}

.main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--main-color);
}

.main-content {
  width: min(1020px, 98vw);
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: initial;
}
