.header {
  width: 100vw;
  height: var(--header-height);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: var(--color-body);
}

.header__logo {
  height: auto;
  margin-left: 20px;
  font-weight: 700;
  font-size: var(--font-size-title);
  white-space: nowrap;
}

.header__logo:hover {
  filter: brightness(1.5);
}

.header__btn-menu {
  display: none;
}

.sign {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sign--mb {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    margin: 0;
    padding-top: 3px;
  }

  .header__logo-img {
    width: calc(var(--header-height) - 6px);
    height: calc(var(--header-height) - 6px);
    filter: invert(60%);
    transform: rotateZ(36deg);
  }

  .header__btn-menu {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    right: 20px;
    border: none;
    background: url(../../asset/icons/menu.svg);
    filter: invert(60%);
  }

  .sign {
    display: none;
  }
}
