.gnb {
  width: 100%;
  min-height: var(--gnb-height);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 18px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  background-color: var(--color-body);
}

.gnb__a {
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 600;
  background-color: var(--color-body);
}

.gnb__a::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translate(0%, -50%);
  transition: 0.2s;
  border-radius: 4px;
}

.gnb__a:hover::after {
  background-color: var(--color-orange);
  filter: brightness(0.9);
}

@media screen and (max-width: 768px) {
  .gnb {
    column-gap: 10px;
  }
}
