.gnb {
  width: 100vw;
  height: var(--gnb-height);
  position: sticky;
  top: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 18px;
  border-bottom: 1px solid var(--color-whitesmoke);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.05);
  background-color: var(--color-body);
  z-index: 2;
}

.gnb__btn {
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-align: center;
  line-height: var(--gnb-height);
  color: var(--font-color-dark);
}

.gnb__btn:nth-last-child(2) {
  width: 20px;
  text-rendering: none;
  visibility: hidden;
}

.gnb__btn:nth-last-child(2)::after {
  content: "";
  width: 22px;
  height: 22px;
  visibility: visible;
  display: block;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  border-radius: 100%;
  background: url(../../asset/icons/cart.svg);
  filter: invert(var(--icon-invert));
}

.gnb__mark {
  height: 2.5px;
  position: absolute;
  bottom: 0px;
  border-radius: 2px 2px 0 0;
  background-color: var(--color-marker);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .gnb {
    column-gap: 10px;
  }
}
