.gnb {
  width: 100%;
  height: var(--gnb-height);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 18px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  background-color: var(--color-body);
}

.gnb__btn {
  height: 100%;
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-align: center;
  line-height: var(--gnb-height);
  color: var(--font-color-dark);
}

.gnb__btn:last-child {
  width: 20px;
  color: var(--color-red);
  text-rendering: none;
  visibility: hidden;
}

.gnb__btn:last-child::after {
  content: "🛒";
  visibility: visible;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-md);
}

@media screen and (max-width: 768px) {
  .gnb {
    column-gap: 10px;
  }
}
