:root {
  --font-size-title: 1.5rem;
  --font-size-lg: 1.2rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.8rem;
  --font-size-vsm: 0.5rem;
  --main-color: rgb(94, 148, 195);
  --post-color: rgb(214, 220, 233);
  --color-orange: rgb(204, 133, 69);
  --color-green: rgb(14, 112, 113);
  --color-skyblue: rgb(94, 148, 195);
  --color-lavender: rgb(178, 166, 206);
  --color-red: rgb(208, 61, 69);
  --color-background: rgb(237, 241, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

*::-webkit-scrollbar {
  width: 1px;
  background-color: aliceblue;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--post-color);
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span,
p {
  cursor: default;
}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.hidden {
  visibility: hidden;
}
